*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
body{
  display: flex;
  flex-direction: column;
  
}
header{
display: flex;
flex-direction: column;
height: 18vh;
width: 100%;


}
.headerPart{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 18vh;
  width: 100%;
  background-color: #a1a1a1;
  position: fixed;
  z-index: 1;
margin-top: -5px;
}
header img{
  height: 100px;
  width: 100px;
  border-radius:50px ;
}
header h2{
  font-size: 60px;
  font-weight: 600;
}
.notifications{
  display: flex;
  flex-direction: row;
}
.notifications p{
  height: 9vh;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
 font-size: 23px;
 font-weight: 900;
 background-color:#000000;
 color: white;
}
marquee{
  height: 9vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

 font-size: 23px;
 font-weight: 900;
 background-color:rgb(200, 198, 198);
}
.intro{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  
}
.para{
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 60%;
  line-height: 1.3;
  font-size: 20.1px;
  font-weight: 500;
  text-align: justify;
  gap: 5px;
  justify-content: center;
 
}
.slogans{
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-around;
  gap: 10px; 
  height:10vh;
  width: 100%;

 background-color:rgba(200, 198, 198, 0.475);
}
.col1 , .col2 , .col3{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  gap: 10px;
}
.slogans span{
  font-size: 20px;
  font-weight: 900;
}
.intro img{
  height: 94%;
  width: 40%;
}
.para a{
 height: 50px;
 width: 140px;
 font-size: medium;
 font-weight: 600;
 background-color: rgba(0, 0, 0, 0.855);
 color: white;
 text-align: center;
 text-decoration: none;
 padding: 15px;
}
.para a:hover{
  color: white;
  text-decoration: none;
 }
.worldOfPossibilities {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.151);
  
  
}
.worldOfPossibilities h2{
 font-size: 85px;
 font-size: 900;
 padding: 10px;
 line-height: 1.1;
 display: flex;
 height: 70%;
align-items: center;
padding-bottom: 40px;
border-radius: 10px;
border-right: 2px solid rgba(0, 0, 0, 0.274);
margin-top: 8px;
}
.info{
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 70%;
  align-items: flex-end;
  justify-content: center;
  border-left: 2px solid rgba(0, 0, 0, 0.208);
  gap: 20px;
  
 
  border-radius: 10px;
}
.info p{
  line-height: 1.3;
  font-size: 21px;
  font-weight: 500;
  text-align: justify;
}
.info a{
  height: 50px;
  width: 140px;
  font-size: medium;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.855);
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 15px;
}
.info a:hover{
  color: white;
  text-decoration: none;
 }
.ourServices{
  display: flex;
  flex-direction: column;
  height: 110vh;
  width: 100%;
  padding: 20px;
  
}
.ourServices h2{
font-size: 3rem;
font-weight: 900;
height: 10%;
}
.services{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 60%;
  width: 100%;
  padding: 20px;

}

.service{
 height: 600px;
 width: 400px;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 5px;
 border-radius: 0px;
 background: #e0e0e0;
 box-shadow:  5px 5px 8px #a1a1a1,
              -5px -5px 28px #ffffff;
}
.service img{
  width: 100%;
  height: 40%;
  object-fit: fill;
 object-position: center;
 margin-top: -10px;
}

.service video{
  width: 100%;
  height: 300px;
  margin-top: -0px;
  
}
.fieldservice p {
  text-align: justify;
 font-size: 1rem;
  padding: 7px;
  font-weight: 400;
 }
 .fieldservice h3 {
   padding: 2px;
   font-size: x-large;
   text-align: left;
   margin-top: -0px;
 }
.service p {
 text-align: justify;
font-size: 1rem;
 padding: 10px;
}
.service h3 {
  padding: 5px;
  font-size: x-large;
  text-align: center;
}
.service a {
 height: 40px;
 width: 140px;
 font-size: 13px;
 font-weight: 300;
 background-color: rgba(0, 0, 0, 0.855);
 color: white;
 text-align: center;
 text-decoration: none;
 padding: 10px;
 margin-left: 7px;
 margin-top: 7px;
 

 }

 .img-slider{
  padding: 20px;
 }
 .service a:hover{
  color: white;
  text-decoration: none;
 }
 .contactUs{
  display: flex;
  flex-direction: row; 
  padding: 20px;
  height: 80vh;
  gap: 10px;
  align-items: center;
  
 }
 .contactDetails{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 
  height: 100%;
  width: 60%;
  gap: 10px;
 }
 .contactDetails h2{
  font-size: 3rem;
  font-weight: 900;
  height: 10%;
 }
 .contact-info{
  display: flex;
  flex-direction: column;
  gap: 20px;
 }
 .contact-info p{
  font-size: 21px;
  font-weight: 520;
   gap: 10px;
 }
 .contact-info .address{
  display: flex;
  flex-direction: column;
  font-size: 21px;
  font-weight: 600;
   gap: 10px;
 }
 .contact-info span{
  font-weight: 900;
 }
 .footer{
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a1a1a1;
 }