
.ConferencesandWeb {
  display: flex;
  flex-direction: column;
  min-height: 190vh; 
  width: 100vw;
  align-items: center;
  justify-content: center;
 
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 20px 30px;
  gap: 50px;
/* border: 1px solid black; */
padding-bottom: 30px;
justify-content: center;
}

.section p {
  font-size: 15px;
  font-weight: 200;
  text-align: justify;
  line-height: 1.2;

  
}


.ConferencesandWeb img {
  height: 25%;
  width: 30%;
  object-fit: fill;
  object-position: center;
padding-top: 50px;

}

.ConferencesandWeb h2 {
  font-size: 2.5rem;
  font-weight: 900;
  height: 10%;  
 
}

.ConferencesandWeb span {
  font-size: 21px;
  font-weight: 700;
}

.ConferencesandWeb ul li {
  font-size: 17px;
  list-style: none;
}

.section ul  {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  padding-bottom: -20px;
}

.section ul li {
  font-size: 20px;
  text-decoration: none;
}
.section p{
 text-align: justify;
 
}
@media (min-width:200px) and (max-width:800px){
  .ConferencesandWeb{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .ConferencesandWeb img{
    height: 25%;
    width: 100%;
    object-fit: cover;

  } 
  .ConferencesandWeb h2 {
    font-size: 1.8rem;
    font-weight: 900;
    height: 10%;  
   
  }
  .section{
    height: 100%;
    width: 100%;
  }
  .section p {
    font-size: 13px;
    font-weight: 500;
    text-align: justify;
    line-height: 1.2; 
  }
  .ConferencesandWeb span {
    font-size: 12px;
    font-weight: 700;
  }
  
  .ConferencesandWeb ul li {
    font-size: 12px;
    list-style: none;
  }
  
}